.bg{
    background-color: rgb(169, 238, 186);
    margin: 0; 
    padding: 0.3vw 0; 
    list-style: none; 
    display: block; 
   text-align:center;
   text-transform: uppercase;
}

body{font-family: 'Monserrat', sans-serif;background-color: darkcyan; display: block; width: 100%;
    text-align:center;
    text-transform: uppercase;
     margin: 0;list-style: none;
    }

.clima{
    background-color: rgb(145, 218, 218); 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    
}

.right{
    float: right;
}

.rojo{
    color: rgb(110, 9, 29);
}

.clockdate-wrapper {
    background-color: #333;
    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:15%;
}
#clock{
    background-color:#333;
    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    top:-27px;
    left:-10px;
}
#date {
    letter-spacing:10px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}